#init{ /*초기화 스타일*/
    background-color: rgb(84, 0, 0);
    color: beige;
    font-size: 30px;
    font-style: initial;
    width: 100px;
    height: 50px;
}
body{
    background-color: rgb(66, 66, 66);
}
h1, span, #clock{ /*color setting*/
    color: rgb(187, 187, 162);
}
.hidden{
    display: none;
}
span{
    font-size: x-large;
}
img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
}